@model EmptyMVCTesting.Models.UserDetails
@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_LayoutForUsersDetails.cshtml";
}

<h2>Register User</h2>
<hr />

@using (Html.BeginForm("RegisterUser", "Users", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.U_FName, new { @for = "txtUFName" })
        @Html.TextBoxFor(m => m.U_FName, new { id = "txtUFName", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.U_FName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_LName, new { @for = "txtULName" })
        @Html.TextBoxFor(m => m.U_LName, new { id = "txtULName", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.U_LName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_Gen, new { @for = "txtUGen" })
        @{
            foreach (var Gender in Model.GenderList)
            {
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.U_Gen, Gender.Type, new { id = "rbtn" + Gender.Type, @class = "form-check-input" })
                    @Html.Label(Gender.Type, new { @for = "rbtn" + Gender.Type })
                </div>
            }
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_EId, new { @for = "txtUEId" })
        @Html.TextBoxFor(m => m.U_EId, new { id = "txtUEId", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.U_EId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_PhNo, new { @for = "txtUPhNo" })
        @Html.TextBoxFor(m => m.U_PhNo, new { id = "txtUPhNo", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.U_PhNo)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_Address, new { @for = "txtUAddress" })
        @Html.TextAreaFor(m => m.U_Address, new { id = "txtUAddress", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.U_Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.U_Indian)
        @Html.DropDownListFor(m => m.U_Indian, new SelectList(Model.IndianList, "ID", "Name"),
            new { id = "drpUIndian", @class = "form-control" })
    </div>

    @*<div class="form-group">
            @Html.LabelFor(m => m.U_Hobbies)
            @{
                foreach (var item in Model.HobbyList)
                {
                    bool chktemp = false;
                    foreach (string str in Model.U_Hobbies)
                    {
                        if (str == item.Name)
                        {
                            chktemp = true;
                        }
                    }

                    <div class="form-check">
                        @Html.CheckBox("UHobbies", chktemp, new { id = "chkUHobbi" + item.ID, @class = "form-check-input" })
                        @Html.Label(item.Name, new { @for = "chkUHobbi" + item.ID })
                    </div>
                }
            }
        </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.U_Hobbies)
        @{
            for (int i = 0; i < Model.HobbyList.Count; i++)
            {
                @Html.HiddenFor(m => m.HobbyList[i].ID)
                @Html.CheckBoxFor(m => m.HobbyList[i].Checked)
                @Html.LabelFor(m => m.HobbyList[i].Checked, Model.HobbyList[i].Name)
            }
        }
    </div>

    @*<div class="custom-file">
            @using (Html.BeginForm("DocUpload", "Users", FormMethod.Post, new { @action = "/Users/DocUpload" }))
            {
                @Html.LabelFor(m => m.U_ProfilePic, new { @for = "fileUpDoc", @class = "custom-file-label" })
                @Html.TextBoxFor(m => m.U_ProfilePic, new { id = "fileUpDoc", type = "file", @class = "custom-file-input" })
                @Html.TextBox("btnDocUpload", "Upload Document", new
                {
                    id = "btnUpDoc",
                    type = "submit",
                    @style = "display: none;",
                    formaction = "/Users/DocUpload"
                })
            }
        </div>*@

    <div class="custom-file">
        @Html.LabelFor(m => m.U_ProfilePic, new { @for = "fileUpDoc", @class = "custom-file-label" })
        @Html.TextBoxFor(m => m.U_ProfilePic, new { id = "fileUpDoc", type = "file", @class = "custom-file-input" })
        @Html.TextBox("btnDocUpload", "Upload Document", new { id = "btnUpDoc", type = "button", @style = "display:none;" })
    </div>

    <br />
    <br />
    <div class="form-group">
        @Html.TextBox("Submit", "Register User", new { id = "btnSubmit", type = "submit", @class = "btn btn-outline-primary" })<br /><br />
    </div>
}
<script>
    $(document).ready(function () {
        //$('#fileUpDoc').change(function () {
        //    console.log("File Selected");
        //})

        $(".custom-file-input").on("change", function () {
            console.log("File Selected by class-  ", $(this).val()); //C:\fakepath\Sample.jpg
            console.log("Details regarding file- ", $('#fileUpDoc').get(0));
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            console.log("data- ", fileName);
            if (fileName.trim() != '') {
                console.log("Values- ", fileName);
                $('#btnUpDoc').trigger("click");
            }
        });

        $('#btnUpDoc').click(function () {
            console.log("BtnUpDoc Click...");
            if (window.FormData !== undefined) {
                console.log("BtnUpDoc Click with form data");
                var fileUpload = $("#fileUpDoc").get(0);
                console.log("File Uploaded- ", fileUpload);
                var files = fileUpload.files
                console.log("Files- ", files);

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', 'Anil');
                console.log("FormData- ", fileData);

                $.ajax({
                    url: '/Users/DocUpload',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });


            } else {
                alert("FormData is not supported.");
            }
        })
    });
</script>
